# Environment variables - DO NOT COMMIT THIS FILE
.env
airflow/logs/

# Python specific
__pycache__/
*.py[cod]
.venv/

# IDE and OS specific
.vscode/
.idea/
.DS_Store

# dbt artifacts - IGNORE ALL, THEN MAKE AN EXCEPTION
dbt_project/target/
!dbt_project/target/dbt.duckdb
dbt_project/logs/
dbt_project/dbt_packages/