# Environment variables - DO NOT COMMIT THIS FILE
.env

# Python specific
__pycache__/
*.py[cod]
.venv/

# IDE and OS specific
.vscode/
.idea/
.DS_Store

# dbt specific artifacts
# Ignore the logs and packages directories completely
dbt_project/logs/
dbt_project/dbt_packages/

# This is the crucial part:
# 1. Ignore the entire target directory.
# 2. BUT, make an exception for the dbt.duckdb file inside it.
dbt_project/target/
!dbt_project/target/dbt.duckdb